<div class="row">
    <div class="col-12 d-flex flex-row justify-content-between">
        <h3 class="fw-700">PEOPLE</h3>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <a class="standard-link mr-3" placement="top" ngbTooltip="Add person"
            [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: 'people/add-person' } }]" skipLocationChange>
            <fa-icon transform="grow-4" [icon]="faUserPlus"></fa-icon>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12" style="max-height: 60vh; overflow: auto; display:inline-block;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of people">
                    <td class="align-middle text-center" style="width: 75px;" scope="row">
                        <img class="thumbnail" [src]="imagesService.getImage(person.profilePicture)">
                    </td>
                    <td class="align-middle product-name">{{person.firstName}} {{person.lastName}}</td>
                    <td class="align-middle">
                        <div class="d-flex justify-content-end align-items-center">
                            <a class="standard-link mr-3" placement="top" ngbTooltip="Edit"
                                [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: ['people', 'edit-person', person.id] } }]"
                                skipLocationChange>
                                <fa-icon transform="grow-4" [icon]="faEdit"></fa-icon>
                            </a>
                            <a class="standard-link mr-3" style="margin-top: 1px;" placement="top" ngbTooltip="Remove"
                                (click)="selectedPerson = person; showModal(removePerson)">
                                <fa-icon transform="grow-6" [icon]="faTimes"></fa-icon>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #removePerson let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Remove Person</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>Are you sure that you you want to remove this person?</h6>
    </div>
    <div class="modal-footer">
        <button type="button" class="standard-btn standard-btn-primary"
            (click)="onRemoveOk(); modal.close()">Remove</button>
        <button type="button" class="standard-btn standard-btn-primary" (click)="modal.close()">Cancel</button>
    </div>
</ng-template>