<div cdkDropList class="images-list" (cdkDropListDropped)="drop($event)">
    <ng-container #parent></ng-container>
    <div class="image-box" *ngFor="let image of images" cdkDrag>
        <div class="image-placeholder" *cdkDragPlaceholder></div>
        <div class="image-box-image">
            <img class="image" [src]="imagesService.getImage(image.image)">
        </div>
        <div class="image-box-actions">
            <div class="mr-2 my-2 text-right" style="width: 100px;">
                <a type="button" class="subcategory-link btn-block" (click)="removeImage(image)">Remove</a>
            </div>
        </div>
    </div>
</div>

<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crop Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="height: 75vh">
        <div class="d-flex flex-column h-100">
            <div *ngIf="isApspectRatioUnlockable">
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <label class="switch m-0">
                        <input [checked]="maintainAspectRatio" (change)="toggleAspectRatio()" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <div class="fs-small text-uppercase ml-2">Aspect ratio locked</div>
                </div>
            </div>
            <image-cropper #cropper [imageBase64]="cropperImageBase64" [resizeToWidth]="resizeToWidth"
                [resizeToHeight]="resizeToHeight" [maintainAspectRatio]="maintainAspectRatio"
                [aspectRatio]="aspectRatio" format="png" (imageCropped)="imageCropped($event)" [autoCrop]="false">
            </image-cropper>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="standard-btn standard-btn-primary"
            (click)="cropper.crop(); modal.close()">Save</button>
    </div>
</ng-template>