<three-row-grid-layout>
    <div class="custom-container my-5">
        <div class="row">
            <div class="col-12">
                <h1 class="fc-hover fw-700 text-center">ORDER DETAILS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div *ngIf="!changeInfo; else notLoggedIn">
                    <div class="row">
                        <div class="col-12 d-flex flex-column">
                            <div class="d-flex flex-column px-3 pb-2">
                                <div>
                                    <span class="fs-small text-muted text-uppercase">NAME:</span> {{ order?.buyerName }}
                                    {{ order?.buyerLastName }}
                                    <a class="standard-link-obvious" (click)="changeInformation()">(change)</a>
                                </div>
                                <div>
                                    <span class="fs-small text-muted text-uppercase">ADDRESS:</span> {{
                                    order?.buyerStreetAndNumber }}, {{ order?.buyerCity }}
                                    <a class="standard-link-obvious" (click)="changeInformation()">(change)</a>
                                </div>
                                <div>
                                    <span class="fs-small text-muted text-uppercase">ZIP:</span> {{ order?.buyerZip }}
                                    <a class="standard-link-obvious" (click)="changeInformation()">(change)</a>
                                </div>
                                <div>
                                    <span class="fs-small text-muted text-uppercase">PHONE NUMBER:</span> {{
                                    order?.buyerPhone }}
                                    <a class="standard-link-obvious" (click)="changeInformation()">(change)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <cart-product-group [showTotal]="false" [removable]="false"></cart-product-group>
                        </div>
                    </div>
                    <div class="row mt-2" *ngIf="!coupon">
                        <div class="col-12">
                            <form class="px-3" #form="ngForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-12 col-md-4 px-0 pl-md-0">
                                        <input [(ngModel)]="couponModel.name" placeholder="Coupon" type="text"
                                            class="form-control " autocomplete="off" id="checkout_coupon"
                                            name="location">
                                    </div>

                                    <button type="submit"
                                        class="standard-btn standard-btn-primary px-3 ml-md-2 mt-2 mt-md-0 col-12 col-md-2">
                                        apply
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 px-3 d-flex justify-content-between align-items-center">
                            <div class="fs-small text-muted text-uppercase">Total</div>
                            <div *ngIf="discount && discount > 0; else noDiscount"
                                class="d-flex flex-column align-items-end justify-content-center">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div *ngIf="discountEuro; else noDiscountEuro"
                                        class="fs-small text-muted text-uppercase">
                                        coupon: -{{discount}} RSD / -{{discountEuro}} EUR
                                    </div>
                                    <ng-template #noDiscountEuro>
                                        <div class="fs-small text-muted text-uppercase">coupon: -{{discount}} RSD </div>
                                    </ng-template>
                                    <a class="standard-link-obvious ml-2" (click)='removeCoupon()'>(remove)</a>
                                </div>

                                <div *ngIf='order.orderAmountInEuro; else noPriceInEuro'
                                    class="fs-normal fw-500 text-muted text-uppercase">
                                    {{order.orderAmount}} RSD / {{order.orderAmountInEuro}} EUR
                                </div>
                                <ng-template #noPriceInEuro>
                                    <div class="fs-normal fw-500 text-muted text-uppercase">
                                        {{order.orderAmount}} RSD
                                    </div>
                                </ng-template>
                            </div>
                            <ng-template #noDiscount>
                                <div *ngIf='order.orderAmountInEuro; else noPriceInEuroAlt'
                                    class="fs-normal fw-500 text-muted text-uppercase">
                                    {{order.orderAmount}} RSD / {{order.orderAmountInEuro}} EUR
                                </div>
                                <ng-template #noPriceInEuroAlt>
                                    <div class="fs-normal fw-500 text-muted text-uppercase">
                                        {{order.orderAmount}} RSD
                                    </div>
                                </ng-template>
                            </ng-template>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end pt-2">
                            <button class="standard-btn standard-btn-primary" type="button" (click)='checkout()'>place
                                order</button>
                        </div>
                    </div>
                </div>
                <ng-template #notLoggedIn>
                    <div class="row">
                        <div class="col-12 text-center p-5">To finish checking out please sign in.</div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-row justify-content-center align-items-center">
                                <div class="or-separator mr-4"></div>
                                <h3 class="fc-hover fw-700 text-center w-100">OR CONTINUE AS GUEST</h3>
                                <div class="or-separator ml-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <form #form="ngForm" class="w-50 mt-2" (ngSubmit)="updateInformation()">
                                <div class="form-group">
                                    <label class="fs-small text-muted text-uppercase" for="email">Email</label>
                                    <input type="email" [(ngModel)]="order.buyerEmail" #email="ngModel"
                                        class="form-control" id="email" name="email" required />
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                                        <small *ngIf="email.errors.required">Email is required.</small>
                                        <small *ngIf="email.errors.email">Invalid Email.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="fs-small text-muted text-uppercase" for="firstname">First Name</label>
                                    <input type="text" [(ngModel)]="order.buyerName" #firstName="ngModel"
                                        class="form-control" id="firstname" name="firstname" required />
                                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                                        <small *ngIf="firstName.errors.required">First Name is required.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="fs-small text-muted text-uppercase" for="lastname">Last Name</label>
                                    <input type="text" [(ngModel)]="order.buyerLastName" #lastName="ngModel"
                                        class="form-control" id="lastname" name="lastname" required />
                                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                                        <small *ngIf="lastName.errors.required">Last Name is required.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="fs-small text-muted text-uppercase" for="city">City</label>
                                    <input type="text" [(ngModel)]="order.buyerCity" #city="ngModel"
                                        class="form-control" id="city" name="city" required />
                                    <div *ngIf="city.invalid && (city.dirty || city.touched)">
                                        <small *ngIf="city.errors.required">City is required.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="fs-small text-muted text-uppercase" for="address">Address</label>
                                    <input type="text" [(ngModel)]="order.buyerStreetAndNumber" #address="ngModel"
                                        class="form-control" id="address" name="address" required />
                                    <div *ngIf="address.invalid && (address.dirty || address.touched)">
                                        <small *ngIf="address.errors.required">Address is required.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="fs-small text-muted text-uppercase" for="zip">Zip</label>
                                    <input type="number" [(ngModel)]="order.buyerZip" pattern="[0-9]{5,5}"
                                        class="form-control" id="zip" name="zip" #zip="ngModel" required />
                                    <div *ngIf="zip.invalid && (zip.dirty || zip.touched)">
                                        <small *ngIf="zip.errors.required">Zip is required.</small>
                                        <small *ngIf="zip.errors.pattern">Invalid zip.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="fs-small text-muted text-uppercase" for="phone">Phone number</label>
                                    <input type="text" [(ngModel)]="order.buyerPhone" #phone="ngModel"
                                        class="form-control" id="phone" name="phone" pattern="[+0-9]+" required />
                                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                                        <small *ngIf="phone.errors.required">Phone number is required.</small>
                                        <small *ngIf="phone.errors.pattern">Invalid phone number.</small>
                                    </div>
                                </div>
                                <button type="submit" [disabled]="!form.form.valid"
                                    class="standard-btn standard-btn-primary btn-block">
                                    continue
                                </button>
                            </form>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</three-row-grid-layout>