<form #form="ngForm" class="w-100" style="position: relative;" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-between">
            <h3 class="fw-700 text-uppercase">{{title}}</h3>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-12">
            <image-select [(image)]="partner.image"></image-select>
            <div class="form-group">
                <label class="fs-small text-muted text-uppercase" for="partnerName">Name</label>
                <input [(ngModel)]="partner.name" type="text" class="form-control" id="partnerName" name="partnerName"
                    required #partnerName="ngModel">
                <div *ngIf="partnerName.invalid && (partnerName.dirty ||partnerName.touched)">
                    <small *ngIf="partnerName.errors.required">Name is required.</small>
                </div>
            </div>
            <div class="form-group">
                <label class="fs-small text-muted text-uppercase" for="partnerLink">Link</label>
                <input [(ngModel)]="partner.linkToWebsite" type="text" class="form-control" id="partnerLink"
                    name="partnerLink">
            </div>
            <div class="form-group">
                <label class="fs-small text-muted text-uppercase" for="partnerDescription">Description</label>
                <textarea class="form-control text-left" id="partnerDescription" name="partnerDescription"
                    [(ngModel)]="partner.description"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-row-reverse">
            <div class="form-group">
                <button type="submit" class="standard-btn standard-btn-primary btn-w-1">Save</button>
            </div>
        </div>
    </div>
</form>