@import '../../../../_variables'

.close
    display: flex
    color: $font-color-first
    justify-content: center
    align-items: center
    width: 2rem
    height: 2rem
    background-color: transparent
    border-radius: 50%
    transition: 0.2s ease-out
    user-select: none

.close:hover, .close:focus
    background-color: #777
    cursor: pointer
