<div class="wrapper h-100">
    <div class="wrapped-header">
        <app-esports-header></app-esports-header>
    </div>
    <div class="wrapped-content">
        <div class="container my-5 p-5">
            <div class="row">
                <div class="col-12">
                    <img class="img-fluid" src="/assets/comming-soon.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="wrapped-footer">
        <app-esports-footer></app-esports-footer>
    </div>
</div>
