<three-row-grid-layout>
    <div class="container mb-5 mt-5">
        <div class="row pb-3">
            <div class="col-12 d-flex flex-row justify-content-center align-items-center">
                <p class=" fw-800 fc-firts fs-xlarge">OUR <span class="fc-hover">CONTENT CREATORS</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <card-content-creator-deck [creators]="creators"></card-content-creator-deck>
            </div>
        </div>
    </div>
</three-row-grid-layout>