<div class="row">
    <div class="col-12 d-flex flex-row justify-content-between">
        <h3 class="fw-700">CONTENT CREATORS</h3>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <a class="standard-link mr-3" placement="top" ngbTooltip="Add content creator"
            [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: 'content-creators/add-content-creator' } }]"
            skipLocationChange>
            <fa-icon transform="grow-4" [icon]="faUserPlus"></fa-icon>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let creator of creators">
                    <td class="align-middle text-center" style="width: 75px;" scope="row">
                        <img class="thumbnail" [src]="imagesService.getImage(creator.profilePicture)">
                    </td>
                    <td *ngIf='creator.nickName !== null && creator.nickName !== undefined && creator.nickName !== ""; else noNickname'
                        class="align-middle product-name">{{creator.firstName}} "{{creator.nickName}}"
                        {{creator.lastName}}</td>
                    <ng-template #noNickname>
                        <td class="align-middle product-name">{{creator.firstName}} {{creator.lastName}}</td>
                    </ng-template>
                    <td class="align-middle text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <a class="standard-link mr-3" placement="top" ngbTooltip="Edit"
                                [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: ['content-creators', 'edit-content-creator', creator.id] } }]"
                                skipLocationChange>
                                <fa-icon transform="grow-4" [icon]="faEdit"></fa-icon>
                            </a>
                            <a class="standard-link mr-3" style="margin-top: 1px;" placement="top" ngbTooltip="Remove"
                                (click)="selectedCreator = creator; showModal(removeCreator)">
                                <fa-icon transform="grow-6" [icon]="faTimes"></fa-icon>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #removeCreator let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Remove Content Creator</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>Are you sure that you you want to remove this content creator?</h6>
    </div>
    <div class="modal-footer">
        <button type="button" class="standard-btn standard-btn-primary"
            (click)="onRemoveOk(); modal.close()">Remove</button>
        <button type="button" class="standard-btn standard-btn-primary" (click)="modal.close()">Cancel</button>
    </div>
</ng-template>