<form #form="ngForm" class="w-100" style="position: relative;" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-between">
            <h3 class="fw-700 text-uppercase">{{title}}</h3>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-12">
            <image-select [(image)]="person.profilePicture" [aspectRatio]="16 / 25"></image-select>
            <div class="form-group">
                <label class="fs-small text-muted text-uppercase" for="firstname">First Name*</label>
                <input type="text" [(ngModel)]="person.firstName" #firstName="ngModel" class="form-control"
                    id="firstname" name="firstname" required />
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                    <small *ngIf="firstName.errors.required">First Name is required.</small>
                </div>
            </div>
            <div class="form-group">
                <label class="fs-small text-muted text-uppercase" for="lastname">Last Name*</label>
                <input type="text" [(ngModel)]="person.lastName" #lastName="ngModel" class="form-control" id="lastname"
                    name="lastname" required />
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    <small *ngIf="lastName.errors.required">Last Name is required.</small>
                </div>
            </div>
            <div class="form-group">
                <label class="fs-small text-muted text-uppercase" for="nationality">Nationality</label>
                <input type="text" [(ngModel)]="person.nationality" #lastName="ngModel" class="form-control"
                    id="nationality" name="nationality" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-row-reverse">
            <div class="form-group">
                <button type="submit" [disabled]=!form.valid
                    class="standard-btn standard-btn-primary btn-w-1">save</button>
            </div>
        </div>
    </div>
</form>