<div class="shop-item-container position-relative">

    <img class="shop-item-image" src="{{product?.productInfoIcons[0].productIcon}}">
    <div class="shop-item-image-overlay"></div>
    <a class="shop-item-view-details fs-big fw-500" routerLink="/esports/shop/product/{{product?.productId}}">
        VIEW DETAILS
    </a>
    <div class="shop-item-details d-flex flex-column p-4">
        <div class="d-flex pb-4 d-flex flex-column align-items-center">
            <div class="fs-large fw-500">{{product?.productName}}</div>
            <div class="fs-big">{{product?.productPrice}} RSD</div>
        </div>
        <div class="shop-item-options d-flex flex-column align-items-start">
            <div class="fs-small fw-500 lh-1">SIZES</div>
            <div class="fs-small">{{getProductSizes()}}</div>
        </div>
    </div>
</div>