<three-row-grid-layout>
    <div id="main-panel" class="container container-shadow bg-white my-5 p-5">
        <div class="row">
            <div class="col-12 col-lg-3">
                <ul class="list-unstyled sticky">
                    <!-- <li>
                        <a class="category-link" (click)="barcraftCollapse.toggle()"
                            [attr.aria-expanded]="!isBarcraftCollapsed">BARCRAFT</a>
                        <div class="pl-2" #barcraftCollapse="ngbCollapse" [(ngbCollapse)]="isBarcraftCollapsed">
                            a
                        </div>
                    </li> -->
                    <li>
                        <a class="category-link" (click)="esportsCollapse.toggle()"
                            [attr.aria-expanded]="!isEsportsCollapsed">ESPORTS</a>
                        <div class="pl-2" #esportsCollapse="ngbCollapse" [(ngbCollapse)]="isEsportsCollapsed">
                            <ul class="list-unstyled">
                                <li>
                                    <a class="subcategory-link"
                                        [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: 'esports/products' } }]"
                                        skipLocationChange>PRODUCTS</a>
                                </li>
                                <li>
                                    <a class="subcategory-link"
                                        [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: 'esports/home-rotating-pictures' } }]"
                                        skipLocationChange>HOME ROTATING PICTURES</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="category-link"
                            [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: 'partners' } }]"
                            skipLocationChange>PARTNERS</a>
                    </li>
                    <li>
                        <a class="category-link"
                            [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: 'people' } }]"
                            skipLocationChange>PEOPLE</a>
                    </li>
                    <li>
                        <a class="category-link"
                            [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: 'content-creators' } }]"
                            skipLocationChange>CONTENT CREATORS</a>
                    </li>
                    <li>
                        <a class="category-link"
                            [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: 'settings' } }]"
                            skipLocationChange>SETTINGS</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-9">
                <router-outlet name="adminOutlet"></router-outlet>
            </div>
        </div>
    </div>
</three-row-grid-layout>