<form #form="ngForm" class="w-100" style="position: relative;" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-between">
            <h3 class="fw-700 text-uppercase">{{title}}</h3>
            <div class="form-group">
                <button type="submit" class="standard-btn standard-btn-primary btn-w-1">Save</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav ngbNav #nav="ngbNav" class="nav-tabs">
                <ng-container ngbNavItem>
                    <a ngbNavLink>General</a>
                    <ng-template ngbNavContent>
                        <div class="form-group">
                            <label class="fs-small text-muted text-uppercase" for="productName">Name</label>
                            <input [(ngModel)]="product.productName" type="text" class="form-control" id="productName"
                                name="productName" required #productName="ngModel">
                            <div *ngIf="productName.invalid && (productName.dirty ||productName.touched)">
                                <small *ngIf="productName.errors.required">Name is required.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="fs-small text-muted text-uppercase"
                                for="productDescription">Description</label>
                            <textarea class="form-control text-left" id="productDescription" name="productDescription"
                                [(ngModel)]="product.productDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="fs-small text-muted text-uppercase" for="productCategory">Category</label>
                            <select [(ngModel)]="product.categoryType" class="form-control" id="productCategory"
                                name="productCategory" required>
                                <option [selected]='category.categoryType === product.categoryType'
                                    *ngFor='let category of categories' [value]="category.categoryType">
                                    {{category.categoryName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="fs-small text-muted text-uppercase" for="productPrice">Price (RSD)</label>
                            <input [(ngModel)]="product.productPrice" type="number" class="form-control"
                                id="productPrice" name="productPrice" required #productPrice="ngModel"
                                (ngModelChange)="product.productPrice=$event">
                            <div *ngIf="productPrice.invalid && (productPrice.dirty ||productPrice.touched)">
                                <small *ngIf="productPrice.errors.required">Price is required.</small>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                    <a ngbNavLink>Images</a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" (click)='addImageInput()'
                                    class="standard-btn standard-btn-primary btn-block">Add</button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <image-group [isApspectRatioUnlockable]="true" [maintainAspectRatio]="false"
                                    [aspectRatioLocked]="7/10" [images]='product.productInfoIcons'></image-group>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                    <a ngbNavLink>Sizes</a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="standard-btn standard-btn-primary btn-block"
                                    (click)="openModal(addSizeModal)">Add</button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div cdkDropList class="drop-list" (cdkDropListDropped)="drop($event)">
                                    <div class="drop-list-item" *ngFor='let size of product?.productInfoSizes' cdkDrag>
                                        <div class="drop-placeholder" *cdkDragPlaceholder></div>
                                        <div class="text-uppercase">{{size.productSize}}</div>
                                        <div class="mr-2 my-2 text-right" style="width: 100px;">
                                            <a type="button" class="subcategory-link btn-block"
                                                (click)='removeSize(size)'>Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</form>

<ng-template #addSizeModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Size</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (ngSubmit)="onAddSizeSubmit()">
        <div class="modal-body">
            <div class="form-group">
                <label class="fs-small text-muted text-uppercase" for="size">Size</label>
                <input [(ngModel)]="size" type="text" class="form-control" id="size" name="size">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="standard-btn standard-btn-primary" (click)="modal.close()">Save</button>
        </div>
    </form>
</ng-template>