<three-row-grid-layout>
    <div class="container mb-5">
        <div class="row mt-5">
            <div class="col-12 py-5 mb-3 d-flex flex-column align-items-center">
                <h1 class="fc-hover fw-700 text-center">SIGN UP</h1>
                <form #form="ngForm" class="w-50 mt-2" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="fs-small text-muted text-uppercase" for="email">Email*</label>
                        <input type="email" [(ngModel)]="user.email" #email="ngModel" class="form-control" id="email"
                            name="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required />
                        <div *ngIf="email.invalid && (email.dirty || email.touched)">
                            <small *ngIf="email.errors.required">Email is required.</small>
                            <small *ngIf="email.errors.pattern">Invalid Email.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="fs-small text-muted text-uppercase" for="password">Password*</label>
                        <input type="password" [(ngModel)]="user.password" #password="ngModel" class="form-control"
                            id="password" name="password" required minlength="3" />
                        <div *ngIf="password.invalid && (password.dirty || password.touched)">
                            <small *ngIf="password.errors.required">Password is required.</small>
                            <small *ngIf="password.errors.minlength">Password must be at least 3 characters
                                long.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="fs-small text-muted text-uppercase" for="confirm-password">Confirm
                            Password*</label>
                        <input [(ngModel)]="secondPassword" type="password" class="form-control" id="confirmPassword"
                            name="confirmPassword" minlength="3" required #confirmPassword="ngModel"
                            pattern="{{ password.value }}" />
                        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                            <small *ngIf="confirmPassword.errors.required">Confirm Password is required.</small>
                            <small *ngIf="confirmPassword.errors.minlength">Confirm Password must be at least 3
                                characters long.</small>
                            <small *ngIf="confirmPassword.errors.pattern">Password & Confirm Password don't
                                match.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="fs-small text-muted text-uppercase" for="firstname">First Name*</label>
                        <input type="text" [(ngModel)]="user.firstName" #firstName="ngModel" class="form-control"
                            id="firstname" name="firstname" required />
                        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                            <small *ngIf="firstName.errors.required">First Name is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="fs-small text-muted text-uppercase" for="lastname">Last Name*</label>
                        <input type="text" [(ngModel)]="user.lastName" #lastName="ngModel" class="form-control"
                            id="lastname" name="lastname" required />
                        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                            <small *ngIf="lastName.errors.required">Last Name is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="fs-small text-muted text-uppercase" for="city">City*</label>
                        <input type="text" [(ngModel)]="user.city" #city="ngModel" class="form-control" id="city"
                            name="city" required />
                        <div *ngIf="city.invalid && (city.dirty || city.touched)">
                            <small *ngIf="city.errors.required">City is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="fs-small text-muted text-uppercase" for="address">Address*</label>
                        <input type="text" [(ngModel)]="user.streetAndNumber" #address="ngModel" class="form-control"
                            id="address" name="address" required />
                        <div *ngIf="address.invalid && (address.dirty || address.touched)">
                            <small *ngIf="address.errors.required">Address is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="fs-small text-muted text-uppercase" for="zip">Zip*</label>
                        <input type="text" pattern="[0-9]{5,5}" [(ngModel)]="user.zip" class="form-control" id="zip"
                            name="zip" #zip="ngModel" required />
                        <div *ngIf="zip.invalid && (zip.dirty || zip.touched)">
                            <small *ngIf="zip.errors.required">Zip is required.</small>
                            <small *ngIf="zip.errors.pattern">Invalid zip.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="fs-small text-muted text-uppercase" for="phone">Phone number*</label>
                        <input type="text" [(ngModel)]="user.phone" #phone="ngModel" class="form-control" id="phone"
                            name="phone" pattern="[+0-9]+" required />
                        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                            <small *ngIf="phone.errors.required">Phone number is required.</small>
                            <small *ngIf="phone.errors.pattern">Invalid phone number.</small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="!form.form.valid"
                        class="standard-btn standard-btn-primary btn-block">
                        sign up
                    </button>
                </form>
            </div>
        </div>
    </div>
</three-row-grid-layout>