<div class="row">
    <div class="col-12 d-flex flex-row justify-content-between">
        <h3 class="fw-700">PARTNERS</h3>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <a class="standard-link mr-1"
            [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: 'partners/add-partner' } }]" placement="top"
            ngbTooltip="Add partner" skipLocationChange>
            <fa-icon transform="grow-4" [icon]="faPlus"></fa-icon>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div cdkDropList class="drop-list" (cdkDropListDropped)="drop($event)">
            <div class="drop-list-item" *ngFor='let partner of partners' cdkDrag>
                <div class="drop-placeholder" *cdkDragPlaceholder></div>
                <div style="width: 75px;">
                    <img style="max-width: 75px;" [src]="imagesService.getImage(partner?.image)">
                </div>
                <div class="text-left w-75">{{partner.name}}</div>
                <div class="d-flex justify-content-end align-items-center">
                    <a class="standard-link mr-3" placement="top" ngbTooltip="Edit"
                        [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: ['partners', 'edit-partner', partner.id] } }]"
                        skipLocationChange>
                        <fa-icon transform="grow-4" [icon]="faEdit"></fa-icon>
                    </a>
                    <a class="standard-link mr-3" style="margin-top: 1px;" placement="top" ngbTooltip="Remove"
                        (click)="selectedPartner = partner; showModal(removePartner)">
                        <fa-icon transform="grow-6" [icon]="faTimes"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #removePartner let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Remove Partner</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>Are you sure that you you want to remove this partner?</h6>
    </div>
    <div class="modal-footer">
        <button type="button" class="standard-btn standard-btn-primary"
            (click)="onRemoveOk(); modal.close()">Remove</button>
        <button type="button" class="standard-btn standard-btn-primary" (click)="modal.close()">Cancel</button>
    </div>
</ng-template>