<footer class="bg-footer text-center text-lg-start pb-2">
    <div class="container p-4 fc-second">
        <div class="row justify-content-between">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start">
                <p class="title fw-800 fc-second text-center text-lg-left">TEAMS <span>AND ACHIEVEMENTS</span></p>
                <ul class="list-unstyled">
                    <li class="text-center text-lg-left">
                        <a class="standard-link-reverse" routerLink='/content-creators'>
                            CONTENT CREATORS
                        </a>
                    </li>
                    <li class="text-center text-lg-left">
                        <a class="standard-link-reverse" routerLink='/teams/dota-2'>
                            DOTA 2
                        </a>
                    </li>
                    <li class="text-center text-lg-left">
                        <a class="standard-link-reverse" routerLink='/teams/csgo'>
                            COUNTER-STRIKE:GLOBAL OFFENSIVE
                        </a>
                    </li>
                    <li class="text-center text-lg-left">
                        <a class="standard-link-reverse" routerLink='/teams/league-of-legends'>
                            LEAGUE OF LEGENDS
                        </a>
                    </li>
                    <li class="text-center text-lg-left">
                        <a class="standard-link-reverse" routerLink='/teams/warcraft-3'>
                            WARCRAFT III
                        </a>
                    </li>
                    <li class="text-center text-lg-left">
                        <a class="standard-link-reverse" routerLink='/teams/fortnite'>
                            FORTNITE
                        </a>
                    </li>
                    <li class="text-center text-lg-left">
                        <a class="standard-link-reverse" routerLink='/teams/heroes-of-the-storm'>
                            HEROES OF THE STORM
                        </a>
                    </li>
                    <li class="text-center text-lg-left">
                        <a class="standard-link-reverse" routerLink='/teams/hearthstone'>
                            HEARTHSTONE
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 d-flex flex-column align-items-center">
                <p class="title fw-800 fc-second text-center">MERCH <span>ORIGINALS</span></p>
                <ul class="list-unstyled">
                    <li class="text-center">
                        <a class="standard-link-reverse text-uppercase"
                            [routerLink]="['shop', { category: 'all' }]">ALL</a>
                    </li>
                    <li class="text-center" *ngFor="let category of categories">
                        <a class="standard-link-reverse text-uppercase"
                            [routerLink]="['shop', { category: category.categoryName.toLowerCase() }]">
                            {{category.categoryName}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 d-flex flex-column align-items-center align-items-lg-end">
                <p class="title fw-800 fc-second text-center text-lg-right"><span class="single">GAMING</span></p>
                <ul class="list-unstyled">
                    <li class="text-center text-lg-right">
                        <a class="standard-link-reverse" routerLink="/gaming-area">GAMING AREA</a>
                    </li>
                    <!-- <li class="text-center text-lg-right"><a class="standard-link-reverse">VIP ROOM</a></li> -->
                    <li class="text-center text-lg-right">
                        <a class="standard-link-reverse" routerLink="/bootcamp">BOOTCAMP</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class=" row mx-1">
        <div class="col text-left">
            <a href="https://www.instagram.com/lvlup_esports" target="_blank" class="standard-link-reverse">
                <fa-icon [icon]="faInstagram" class="brand-icon"></fa-icon>
                <div class="d-inline-block ml-2 fs-small">LVLUP_ESPORTS</div>
            </a>
        </div>
    </div>
    <div class="row mx-1">
        <div class="col text-left">
            <a href="https://www.facebook.com/lvlupesportsgaming" target="_blank" class="standard-link-reverse">
                <fa-icon [icon]="faFacebook" class="brand-icon"></fa-icon>
                <div class="d-inline-block ml-2 fs-small">LEVEL UP ESPORTS - LVLUP GAMING</div>
            </a>
        </div>
    </div>
</footer>