<div class="row">
    <div class="col-12 d-flex flex-row justify-content-between">
        <h3 class="fw-700">ESPORTS ROTATING PICTURES</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a class="standard-link mr-1" (click)='addImageInput()' placement="top" ngbTooltip="Add image">
            <fa-icon transform="grow-4" [icon]="faPlus"></fa-icon>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row mt-2">
            <div class="col-12">
                <image-group [images]="images" [maintainAspectRatio]="false"></image-group>
            </div>
        </div>
    </div>
</div>