<div class="row">
    <div class="col-12 d-flex flex-row justify-content-between">
        <h3 class="fw-700">ESPORTS PRODUCTS</h3>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <a class="standard-link mr-3" placement="top" ngbTooltip="Add product"
            [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: 'shop/add-product' } }]" skipLocationChange>
            <fa-icon transform="grow-4" [icon]="faPlus"></fa-icon>
        </a>
    </div>
</div>
<div class="row pb-2">
    <div class="col-12">
        <a class="category-link" (click)="filtersCollapse.toggle()" [attr.aria-expanded]="!isFiltersCollapsed">
            FILTERS <fa-icon [icon]="faArrowDown" class="d-inline-block"></fa-icon>
        </a>
        <div #filtersCollapse="ngbCollapse" [(ngbCollapse)]="isFiltersCollapsed">
            <div class="form-row pt-2">
                <div class="form-group col-md-6">
                    <select [(ngModel)]="selectedCategory" class="form-control"
                        (change)="changeCategory($event.target.value)">
                        <option [selected]='selectedCategory === -1' value="-1">ALL</option>
                        <option [selected]='category.categoryType === selectedCategory'
                            *ngFor='let category of categories' [value]="category.categoryType">
                            {{category.categoryName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <select class="form-control" (change)="changeSort($event.target.value)">
                        <option value="newest" [selected]="sort === 'newest'">NEWEST</option>
                        <option value="popular" [selected]="sort === 'popular'">POPULAR</option>
                        <option value="priceAsc" [selected]="sort === 'priceAsc'">PRICE LOW TO HIGH</option>
                        <option value="priceDesc" [selected]="sort === 'priceDesc'">PRICE HIGH TO LOW</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Name</th>
                    <th class="text-center" scope="col">Price</th>
                    <th class="text-right" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productInfo of displayedProducts">
                    <td class="align-middle text-center" style="width: 75px;" scope="row">
                        <img class="thumbnail" [src]="imagesService.getImage(productInfo.productInfoIcons[0]?.image)"
                            alt="{{productInfo.productName}}">
                    </td>
                    <td class="align-middle product-name">{{productInfo.productName}}</td>
                    <td class="align-middle text-center">{{productInfo.productPrice}} RSD</td>
                    <td class="align-middle">
                        <div class="d-flex justify-content-end align-items-center">
                            <a class="standard-link mr-3" placement="top" ngbTooltip="Edit"
                                [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: ['esports', 'edit-product', productInfo.productId] } }]"
                                skipLocationChange>
                                <fa-icon transform="grow-4" [icon]="faEdit"></fa-icon>
                            </a>
                            <a class="standard-link mr-3" style="margin-top: 1px;" placement="top" ngbTooltip="Remove"
                                (click)="selectedProduct = productInfo; removeProductModal.show()">
                                <fa-icon transform="grow-6" [icon]="faTimes"></fa-icon>
                            </a>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<generic-modal #removeProductModal>
    <div body>
        <h6>Are you sure that you want to remove this product?</h6>
    </div>
    <div footer>
        <button type="button" class="standard-btn standard-btn-primary mr-2"
            (click)="onRemoveOk(); removeProductModal.close()">Remove</button>
        <button type="button" class="standard-btn standard-btn-primary"
            (click)="removeProductModal.close()">Cancel</button>
    </div>
</generic-modal>