<div class="wrapper h-100">
    <div class="wrapped-header">
        <app-esports-header></app-esports-header>
    </div>
    <div class="wrapped-content">
        <div id="shop" class="d-flex flex-column align-items-center justify-content-center">
            <div class="container">
                <div class="row py-5">
                    <div class="col-12 col-lg-4 mt-5 mt-lg-0 pt-4 pt-lg-0 order-last order-lg-first d-flex flex-column justify-content-center align-items-center">
                        <div class="d-flex flex-column">
                            <p class="shop-now-brand">LevelUp</p>
                            <p class="fw-800 fc-blue fs-big">MERCH <span class="fc-black">ORIGINALS</span></p>
                            <a class="lvl-btn lvl-btn-primary" routerLink="/esports/shop">shop now</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 order-first order-lg-last">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <div class="d-flex">
                                    <img class="img-fluid mx-auto" src="https://via.placeholder.com/450/FF0000/000000">
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <div class="d-flex">
                                    <img class="img-fluid mx-auto" src="https://via.placeholder.com/450/00FF00/000000">
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <div class="d-flex">
                                    <img class="img-fluid mx-auto" src="https://via.placeholder.com/450/0000FF/000000">
                                </div>
                            </ng-template>
                          </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>


        <div class="container py-5">
            <div class="row">
                <div class="col-12 d-flex flex-row flex-wrap justify-content-center">
                    <app-swappable-image class="game-image" firstSrc="/assets/content-creators.jpg"></app-swappable-image>
                    <app-swappable-image class="game-image" firstSrc="/assets/game-dota2.jpg"></app-swappable-image>
                    <app-swappable-image class="game-image" firstSrc="/assets/game-csgo.jpg"></app-swappable-image>
                    <app-swappable-image class="game-image" firstSrc="/assets/game-lol.jpg"></app-swappable-image>
                </div>
                <div class="col-12 d-flex flex-row flex-wrap justify-content-center">
                    <app-swappable-image class="game-image" firstSrc="/assets/game-wc3.jpg"></app-swappable-image>
                    <app-swappable-image class="game-image" firstSrc="/assets/game-fortnite.jpg"></app-swappable-image>
                    <app-swappable-image class="game-image" firstSrc="/assets/game-hots.jpg"></app-swappable-image>
                    <app-swappable-image class="game-image" firstSrc="/assets/game-hs.jpg"></app-swappable-image>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 d-flex flex-column align-items-center">
                    <p class="fw-800 fc-blue mb-1 fs-big">TEAMS <span class="fc-black">AND ACHIEVEMENTS</span></p>
                    <a class="lvl-btn lvl-btn-primary">find out</a>
                </div>
            </div>
        </div>
        <div id="gaming-area-vip-room">
            <img src="/assets/bg-ga.jpg">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <p class="fw-800 fc-white mb-1 lh-1 fs-big">GAMING AREA & <span class="fc-blue">VIP ROOM</span></p>
                <p class="fc-white mb-4 lh-1 fs-small">Šafarikova 8, Novi Sad Serbia</p>
                <a class="lvl-btn lvl-btn-primary">see more</a>
            </div>
        </div>
        <div id="bootcamp">
            <div id="bootcamp-info">
                <div class="row mt-5 w-100 pt-5 mb-3">
                    <div class="col-12 d-flex flex-column align-items-center">
                        <p class="fw-800 fc-blue mb-1 lh-1 fs-big">BOOTCAMP</p>
                        <p class="fc-black mb-4 lh-1 fs-small">Šafarikova 8, Novi Sad Serbia</p>
                        <a class="lvl-btn lvl-btn-primary">see more</a>
                    </div>
                </div>
                <div class="row mt-5 w-100 mb-5 pb-5 justify-content-center">
                    <div class="col-12 col-lg-4 text-lg-right text-center mb-lg-0 mb-3">
                        <img class="img-fluid image-shadow" src="https://via.placeholder.com/500x300/222222/000000">
                    </div>
                    <div class="col-12 col-lg-4 text-lg-left text-center">
                        <img class="img-fluid image-shadow" src="https://via.placeholder.com/500x300/222222/000000">
                    </div>
                </div>
            </div>
        </div>
        <div id="entertainemnt">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="d-flex flex-column align-items-center">
                            <p class="fw-800 fc-black lh-1 mb-1 fs-big">KEEP BEING <span class="fc-blue">ENTERTAINED</span></p>
                            <p class="fw-400 fc-black lh-1">latest videos</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-5">
                    <div class="col-12 col-lg-4 mb-lg-0 mb-3 text-center">
                        <img class="img-fluid image-shadow" src="https://via.placeholder.com/300x150/222222/000000">
                    </div>
                    <div class="col-12 col-lg-4 mb-lg-0 mb-3 text-center">
                        <img class="img-fluid image-shadow" src="https://via.placeholder.com/300x150/222222/000000">
                    </div>
                    <div class="col-12 col-lg-4 mb-lg-0 mb-3 text-center">
                        <img class="img-fluid image-shadow" src="https://via.placeholder.com/300x150/222222/000000">
                    </div>
                </div>
            </div>
        </div>

        <div class="container pt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="d-flex flex-column align-items-center">
                        <p class="fw-800 fc-blue lh-1 mb-1 fs-big">PARTNERS <3</p>
                        <p class="fw-400 fc-black lh-1">show some love to our friends and sponsors</p>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-0 mb-lg-3 pb-0 pb-lg-3">
                <div class="col-12 mb-lg-0 mb-3 text-center">
                    <img class="img-fluid " src="https://via.placeholder.com/600x200/222222/000000">
                </div>
            </div>
            <div class="row mt-3 mb-5 pb-5">
                <div class="col-12 col-lg-3 mb-lg-0 mb-3 text-center">
                    <img class="img-fluid" src="https://via.placeholder.com/300x150/222222/000000">
                </div>
                <div class="col-12 col-lg-3 mb-lg-0 mb-3 text-center">
                    <img class="img-fluid" src="https://via.placeholder.com/300x150/222222/000000">
                </div>
                <div class="col-12 col-lg-3 mb-lg-0 mb-3 text-center">
                    <img class="img-fluid" src="https://via.placeholder.com/300x150/222222/000000">
                </div>
                <div class="col-12 col-lg-3 mb-lg-0 mb-3 text-center">
                    <img class="img-fluid" src="https://via.placeholder.com/300x150/222222/000000">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapped-footer">
        <app-esports-footer></app-esports-footer>
    </div>
</div>