@import '~bootstrap/scss/bootstrap'
    
.shop-now-brand
    line-height: 1rem
    margin-bottom: 0

.game-image-container
    display: grid
    grid-gap: 1rem
    grid-template-columns: repeat(4, minmax(150px, 1fr))
    justify-items: center
    width: auto

.game-image
/**     max-width: 9.375rem
    margin-right: 1.875rem
    margin-bottom: 1.25rem
    @include media-breakpoint-up(lg)
        flex-basis: 25%
    @include media-breakpoint-only(md)
        margin-right: 1.25rem
        flex-basis: 19%
    @include media-breakpoint-down(sm)
        margin-right: 0
        flex-basis: 75% **/

.game-image
    max-width: 12.5rem
    margin-right: .9375rem
    margin-bottom: 1.5625rem
    @include media-breakpoint-down(md)
        max-width: 15.625rem

#shop
    background-color: #FFF
    padding-top: 1.5625rem
    padding-bottom: 6.25rem

#entertainemnt
    background-color: #FFF
    padding-top: 9.375rem
    padding-bottom: 9.375rem

#gaming-area-vip-room
    max-width: 100%
    position: relative
    background: no-repeat url('/assets/bg-ga.jpg') 50% / 100%
    img
        vertical-align: top
        width: 100%
        opacity: 0
    div
        position: absolute
        top: 0
        width: 100%
        height: 100%

#bootcamp
    max-width: 100%
    display: flex
    flex-direction: column
    background: transparent
    background-size: 100% 100%
    div#bootcamp-info
        display: flex
        flex-direction: column