<three-row-grid-layout>
    <div class="fixed-background">
        <div id="shop" class="d-flex flex-column align-items-center justify-content-center container-shadow-bottom">
            <div class="container">
                <div class="row py-5">
                    <div
                        class="col-12 col-lg-4 mt-5 mt-lg-0 pt-4 pt-lg-0 order-last order-lg-first d-flex flex-column justify-content-center align-items-center">
                        <div class="d-flex flex-column">
                            <p class="shop-now-brand">LevelUp</p>
                            <p class="fw-800 fc-hover fs-big">MERCH <span class="fc-first">ORIGINALS</span></p>
                            <a class="lvl-btn lvl-btn-primary" routerLink="/esports/shop">shop now</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 order-first order-lg-last">
                        <ngb-carousel style="max-width: 100%; height: 60vh">
                            <ng-template class="h-100" *ngFor="let image of rotatingImages" ngbSlide>
                                <div>
                                    <img class="mx-auto" style="display: block; max-width: 100%; max-height: 60vh"
                                        [src]="imagesService.getImage(image.image)" />
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>
        <div id="teams">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12 d-flex flex-row flex-wrap justify-content-center">
                        <app-swappable-image class="game-image" href="/content-creators"
                            firstSrc="/assets/content-creators.jpg">
                        </app-swappable-image>
                        <app-swappable-image class="game-image" href='/teams/dota-2' firstSrc="/assets/game-dota2.jpg">
                        </app-swappable-image>
                        <app-swappable-image class="game-image" href='/teams/csgo' firstSrc="/assets/game-csgo.jpg">
                        </app-swappable-image>
                        <app-swappable-image class="game-image" href='/teams/league-of-legends'
                            firstSrc="/assets/game-lol.jpg">
                        </app-swappable-image>
                    </div>
                    <div class="col-12 d-flex flex-row flex-wrap justify-content-center">
                        <app-swappable-image class="game-image" href='/teams/warcraft-3'
                            firstSrc="/assets/game-wc3.jpg">
                        </app-swappable-image>
                        <app-swappable-image class="game-image" href='/teams/fortnite'
                            firstSrc="/assets/game-fortnite.jpg">
                        </app-swappable-image>
                        <app-swappable-image class="game-image" href='/teams/heroes-of-the-storm'
                            firstSrc="/assets/game-hots.jpg"></app-swappable-image>
                        <app-swappable-image class="game-image" href='/teams/hearthstones'
                            firstSrc="/assets/game-hs.jpg">
                        </app-swappable-image>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 d-flex flex-column align-items-center">
                        <p class="fw-800 fc-hover mb-1 fs-big">TEAMS <span class="fc-first">AND ACHIEVEMENTS</span></p>
                        <a class="lvl-btn lvl-btn-primary btn-w-1">find out</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="gaming-area-vip-room">
            <img src="/assets/bg-ga.jpg" />
            <div class="d-flex flex-column align-items-center justify-content-center container-shadow-y">
                <p class="fw-800 fc-second mb-1 lh-1 fs-big">GAMING AREA & <span class="fc-hover">VIP ROOM</span></p>
                <p class="fc-second mb-4 lh-1 fs-small">Šafarikova 8, Novi Sad Serbia</p>
                <a class="lvl-btn lvl-btn-primary btn-w-1" routerLink="/gaming-area">see more</a>
            </div>
        </div>
        <div id="bootcamp">
            <div id="bootcamp-info" class="align-items-center">
                <div class="row mt-5 w-100 pt-5 mb-3">
                    <div class="col-12 d-flex flex-column align-items-center">
                        <p class="fw-800 fc-hover mb-1 lh-1 fs-big">BOOTCAMP</p>
                        <p class="fc-first mb-4 lh-1 fs-small">Šafarikova 8, Novi Sad Serbia</p>
                        <a class="lvl-btn lvl-btn-primary btn-w-1" routerLink="/bootcamp">see more</a>
                    </div>
                </div>
                <div class="row mt-5 w-100 mb-5 pb-5 justify-content-center align-items-center">
                    <div class="col-12 col-xl-4 text-xl-right text-center mb-xl-0 mb-3">
                        <app-swappable-image class="bootcamp-image" firstSrc="/assets/bootcamp-a.jpg"
                            secondSrc="/assets/bootcamp-b.jpg">
                            <p class="fs-large fw-800">24/7 BOOTCAMP ROOM</p>
                        </app-swappable-image>
                    </div>
                    <div class="bootcamp-images col-12 col-xl-4 text-xl-left text-center p-relative">
                        <app-swappable-image class="bootcamp-image" firstSrc="/assets/tb-a.jpg"
                            secondSrc="/assets/tb-b.jpg">
                            <p class="fs-large fw-800">TEAM BUILDING</p>
                        </app-swappable-image>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="entertainemnt">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="d-flex flex-column align-items-center">
                            <p class="fw-800 fc-first lh-1 mb-1 fs-big">
                                KEEP BEING <span class="fc-hover">ENTERTAINED</span>
                            </p>
                            <p class="fw-400 fc-first lh-1">latest videos</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-5">
                    <div class="col-12 col-lg-4 mb-lg-0 mb-3 text-center">
                        <img class="img-fluid image-shadow" src="https://via.placeholder.com/300x150/222222/000000" />
                    </div>
                    <div class="col-12 col-lg-4 mb-lg-0 mb-3 text-center">
                        <img class="img-fluid image-shadow" src="https://via.placeholder.com/300x150/222222/000000" />
                    </div>
                    <div class="col-12 col-lg-4 mb-lg-0 mb-3 text-center">
                        <img class="img-fluid image-shadow" src="https://via.placeholder.com/300x150/222222/000000" />
                    </div>
                </div>
            </div>
        </div> -->
        <div id="partners" class="container container-shadow-top bg-white pt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="d-flex flex-column align-items-center">
                        <p class="fw-800 fc-hover lh-1 mb-1 fs-big">PARTNERS <fa-icon [icon]="faHeart"
                                class="d-inline-block">
                            </fa-icon>
                        </p>
                        <p class="fs-small fw-400 fc-first lh-1">show some love to our friends and sponsors</p>
                    </div>
                </div>
            </div>
            <div *ngIf="partners?.length > 0" class="row mt-5 mb-0 mb-lg-3 pb-0 pb-lg-3">
                <div class="col-12 mb-lg-0 mb-3 text-center">
                    <img class="img-fluid" style="max-height: 7rem;"
                        [src]="imagesService.getImage(partners[0].image)" />
                </div>
            </div>
            <div class="row mt-3 pb-5 px-2">
                <div *ngFor="let partner of partners | slice:1"
                    class="col-12 col-lg-3 mb-lg-0 mb-3 mt-4 text-center d-flex align-items-center justify-content-center">
                    <img class="img-fluid" style="max-height: 5rem;" [src]="imagesService.getImage( partner.image)" />
                </div>
            </div>
        </div>
    </div>
</three-row-grid-layout>