<div cdkDropList class="images-list" (cdkDropListDropped)="drop($event)">
    <ng-container #parent></ng-container>
    <div class="image-box" *ngFor="let image of images" cdkDrag>
        <div class="image-placeholder" *cdkDragPlaceholder></div>
        <div class="image-box-image">
            <img class="image" [src]="imagesService.getImage(image.image)">
        </div>
        <div class="image-box-actions">
            <a class="standard-link mr-3 my-2" (click)='removeImage(image)'>
                <fa-icon transform="grow-6" [icon]="faRemove"></fa-icon>
            </a>
        </div>
    </div>
</div>

<generic-modal #cropImageModal>
    <div class="w-100" body>
        <div class="row py-2 px-4">
            <div class="col-12">
                <div *ngIf="isApspectRatioUnlockable">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <label class="switch m-0">
                            <input [checked]="maintainAspectRatio" (change)="toggleAspectRatio()" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <div class="fs-small text-uppercase ml-2">Aspect ratio locked</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2 px-4">
            <div class="col-12" style="max-height: 70vh;">
                <image-cropper #cropper [imageBase64]="cropperImageBase64" [resizeToWidth]="resizeToWidth"
                    [resizeToHeight]="resizeToHeight" [maintainAspectRatio]="maintainAspectRatio"
                    [aspectRatio]="aspectRatio" format="png" (imageCropped)="imageCropped($event)" [autoCrop]="false">
                </image-cropper>
            </div>
        </div>
        <div class="row py-2 px-4">
            <div class="col-12 d-flex flex-row-reverse">
                <button type="button" class="standard-btn standard-btn-primary"
                    (click)="cropper.crop(); cropImageModal.close()">Save</button>
            </div>
        </div>
    </div>
</generic-modal>