<div class="row">
    <div class="col-12 d-flex flex-row justify-content-between">
        <h3 class="fw-700">CHANGE PASSWORD</h3>
    </div>
</div>
<div class="row pb-4">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <form #form="ngForm" class="w-75 mt-2 py-4" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" [(ngModel)]="model.password" #password="ngModel" class="form-control"
                    id="password" name="password" required minlength="3" />
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <small *ngIf="password.errors.required">Password is required.</small>
                    <small *ngIf="password.errors.minlength">Password must be at least 3 characters
                        long.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm New Password</label>
                <input [(ngModel)]="secondPassword" type="password" class="form-control" id="confirmPassword"
                    name="confirmPassword" minlength="3" required #confirmPassword="ngModel"
                    pattern="{{ password.value }}" />
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                    <small *ngIf="confirmPassword.errors.required">Confirm Password is required.</small>
                    <small *ngIf="confirmPassword.errors.minlength">Confirm Password must be at least 3
                        characters long.</small>
                    <small *ngIf="confirmPassword.errors.pattern">Password & Confirm Password don't
                        match.</small>
                </div>
            </div>
            <button type="submit" [disabled]="!form.form.valid" class="standard-btn standard-btn-primary btn-block">
                change
            </button>
        </form>
    </div>
</div>