@import '../../../../_variables'

.sticky
    @include media-breakpoint-up(lg)
        position: sticky
        top: 7.125rem
        z-index: 1020

#info-row
    border-bottom: 1px solid $color-fourth
