<div class="wrapper h-100">
    <div class="wrapped-header">
        <app-esports-header></app-esports-header>
    </div>
    <div class="wrapped-content">
        <div class="container">
            <div class="row my-5">
                <div class="col-12 col-lg-3 container-shadow bg-white">
                    <ul class="list-unstyled sticky px-4 py-4">
                        <li>
                            <a class="category-link fs-xlarge" (click)='changeCategory("all")'>ALL</a>
                        </li>
                        <li *ngFor='let category of categories'>
                            <a class="category-link fs-xlarge" (click)='changeCategory(category.categoryName.toLowerCase())'>{{category.categoryName.toUpperCase()}}</a>
                        </li>
                        <!-- <li>
                            <a class="category-link fs-xlarge" (click)='changeCategory("bottoms")'>BOTTOMS</a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-12 col-lg-8 ml-5 container-shadow bg-white">
                    <div id="info-row" class="row pb-2 pt-4 mx-4">
                        <div class="col-6 fw-500">
                            <span *ngIf='displayedProducts.length !== 1; else prodLenOne'>
                                SHOWING {{displayedProducts.length}} {{category.toUpperCase()}} RESULTS
                            </span>
                            <ng-template #prodLenOne>
                                <span>
                                    SHOWING {{displayedProducts.length}} {{category.toUpperCase()}} RESULT
                                </span>
                            </ng-template>
                        </div>
                        <div class="col-6 text-right">
                            <select (change)="changeSort($event.target.value)">
                                <option value="newest" [selected]="sort === 'newest'">Newest</option>
                                <option value="popular" [selected]="sort === 'popular'">Popularity</option>
                                <option value="priceAsc" [selected]="sort === 'priceAsc'">Price Ascending</option>
                                <option value="priceDesc" [selected]="sort === 'priceDesc'">Price Descending</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 py-4 text-center">
                            <app-shop-item-deck [products]="displayedProducts"></app-shop-item-deck>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapped-footer">
        <app-esports-footer></app-esports-footer>
    </div>
</div>