<three-row-grid-layout>
    <div class="container">
        <div class="row my-5 align-items-start">
            <div class="col-12 col-lg-3 container-shadow bg-white sticky">
                <ul class="list-unstyled px-4 py-4">
                    <li>
                        <a class="category-link fs-xlarge" (click)="changeCategory('all')">ALL</a>
                    </li>
                    <li *ngFor="let category of categories">
                        <a class="category-link fs-xlarge text-uppercase"
                            (click)="changeCategory(category.categoryName.toLowerCase())">{{
                            category.categoryName }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-8 ml-0 mt-5 ml-lg-5 mt-lg-0 container-shadow bg-white">
                <div id="info-row" class="row pb-2 pt-4 mx-4">
                    <div class="col-12 col-lg-6 fw-500 d-flex flex-column text-center text-lg-left justify-content-end">
                        <span class="text-uppercase" *ngIf="displayedProducts?.length !== 1; else prodLenOne">
                            SHOWING {{ displayedProducts?.length }} {{ category }} RESULTS
                        </span>
                        <ng-template #prodLenOne>
                            <span class="text-uppercase">
                                SHOWING {{ displayedProducts?.length }} {{ category }} RESULT
                            </span>
                        </ng-template>
                    </div>
                    <div class="col-12 col-lg-6 d-flex flex-column justify-content-end align-items-end">
                        <select class="form-control w-100 w-lg-75" (change)="changeSort($event.target.value)">
                            <option value="newest" [selected]="sort === 'newest'">NEWEST</option>
                            <option value="popular" [selected]="sort === 'popular'">POPULAR</option>
                            <option value="priceAsc" [selected]="sort === 'priceAsc'">PRICE LOW TO HIGH</option>
                            <option value="priceDesc" [selected]="sort === 'priceDesc'">PRICE HIGH TO LOW</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 py-4 text-center">
                        <app-shop-item-deck [products]="displayedProducts"></app-shop-item-deck>
                    </div>
                </div>
            </div>
        </div>
    </div>
</three-row-grid-layout>