<div class="row">
    <div class="col-12 d-flex flex-row justify-content-between">
        <h3 class="fw-700">ESPORTS PRODUCTS</h3>
        <div class="form-group">
            <a class="standard-btn standard-btn-primary btn-w-1"
                [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: 'esports/add-product' } }]"
                skipLocationChange>Add</a>
        </div>
    </div>
</div>
<div class="row pb-2">
    <div class="col-12">
        <a class="category-link" (click)="filtersCollapse.toggle()" [attr.aria-expanded]="!isFiltersCollapsed">
            FILTERS <fa-icon [icon]="faArrowDown" class="d-inline-block"></fa-icon>
        </a>
        <div #filtersCollapse="ngbCollapse" [(ngbCollapse)]="isFiltersCollapsed">
            <div class="form-row pt-2">
                <div class="form-group col-md-6">
                    <select [(ngModel)]="selectedCategory" class="form-control"
                        (change)="changeCategory($event.target.value)">
                        <option [selected]='selectedCategory === -1' value="-1">ALL</option>
                        <option [selected]='category.categoryType === selectedCategory'
                            *ngFor='let category of categories' [value]="category.categoryType">
                            {{category.categoryName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <select class="form-control" (change)="changeSort($event.target.value)">
                        <option value="newest" [selected]="sort === 'newest'">NEWEST</option>
                        <option value="popular" [selected]="sort === 'popular'">POPULAR</option>
                        <option value="priceAsc" [selected]="sort === 'priceAsc'">PRICE LOW TO HIGH</option>
                        <option value="priceDesc" [selected]="sort === 'priceDesc'">PRICE HIGH TO LOW</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Name</th>
                    <th class="text-center" scope="col">Price</th>
                    <th class="text-center" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productInfo of displayedProducts">
                    <td class="align-middle text-center" style="width: 75px;" scope="row">
                        <img class="img-thumbnail product-thumbnail"
                            src="{{productInfo.productInfoIcons[0]?.productIcon}}" alt="{{productInfo.productName}}">
                    </td>
                    <td class="align-middle product-name">{{productInfo.productName}}</td>
                    <td class="align-middle text-center">{{productInfo.productPrice}} RSD</td>
                    <td class="align-middle text-center">
                        <div ngbDropdown placement="bottom-right" container="body">
                            <button class="standard-btn standard-btn-primary" ngbDropdownToggle>Actions <fa-icon
                                    [icon]="faArrowDown" class="d-inline-block"></fa-icon></button>
                            <div ngbDropdownMenu>
                                <a ngbDropdownItem
                                    [routerLink]="['/admin/dashboard', { outlets: { adminOutlet: ['esports', 'edit-product', productInfo.productId] } }]"
                                    skipLocationChange>Edit</a>
                                <a ngbDropdownItem
                                    (click)="selectedProduct = productInfo; showModal(removeProduct)">Remove</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #removeProduct let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Remove Product</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>Are you sure that you you want to remove this product?</h6>
    </div>
    <div class="modal-footer">
        <button type="button" class="standard-btn standard-btn-primary"
            (click)="onRemoveOk(); modal.close()">Remove</button>
        <button type="button" class="standard-btn standard-btn-primary" (click)="modal.close()">Cancel</button>
    </div>
</ng-template>