$c-header-bg: #E0E0E0
$c-footer-bg: #006C93
$c-body-bg: #FFFFFF

$c-link: #232323
$c-link-hover: #11abe2

$fc-black: #232323
$fc-blue: #11abe2
$fc-white: #FFFFFF

$fs-normal: 1rem
$fs-small: 0.8rem
$fs-big: 1.2rem