<div class="shop-item-container position-relative">

    <img class="shop-item-image" *ngIf="product.productInfoIcons.length > 0; else noImage"
        [src]="imagesService.getImage(product?.productInfoIcons[0].image)">
    <ng-template #noImage>
        <img class="shop-item-image" src="/assets/no-image.png">
    </ng-template>
    <div class="shop-item-image-overlay"></div>
    <a class="shop-item-view-details fs-big fw-500" routerLink="shop/product/{{product?.productId}}">
        VIEW DETAILS
    </a>
    <div class="shop-item-details d-flex flex-column p-4">
        <div class="d-flex pb-4 d-flex flex-column align-items-center">
            <div [fittext]="true" [activateOnResize]="true" [maxFontSize]="23"
                class="fs-large fw-500 d-flex align-items-center justify-content-center" style="height: 34px;">
                {{product?.productName}}</div>
            <div *ngIf="product?.priceInEuros; else noPriceInEuro" class="fs-big">{{product?.productPrice}} RSD /
                {{product?.priceInEuros}} EUR</div>
            <ng-template #noPriceInEuro>
                <div class="fs-big">{{product?.productPrice}} RSD</div>
            </ng-template>
        </div>
        <div class="shop-item-options d-flex flex-column align-items-start">
            <div class="fs-small fw-500 lh-1">SIZES</div>
            <div class="fs-small">{{getProductSizes()}}</div>
        </div>
    </div>
</div>